@model VendorReviewListModel



@Html.AntiForgeryToken()
<div class="panel panel-default">
    <div class="panel-body">
        <div id="vendorreviews-grid">
            @await Html.PartialAsync("Table", new DataTablesModel
  {
  Name = "vendorreviews-grid",
  UrlRead = new DataUrl("List", "VendorReview", null),
  SearchButtonId = "search-vendorreviews",
  Length = Model.PageSize,
  LengthMenu = Model.AvailablePageSizes,
  Filters = new List<FilterParameter>
      {
      new FilterParameter(nameof(Model.SearchVendorId)),
      },
      ColumnCollection = new List<ColumnProperty>
          {




          new ColumnProperty(nameof(AdminVendorReviewModel.CustomerInfo))
          {
          Title = T("Nop.Plugin.NopWarehouse.VendorReview.Admin.VendorReviews.Fields.Customer").Text,
          Width = "200",
          ClassName =  NopColumnClassDefaults.CenterAll
          },
          new ColumnProperty(nameof(AdminVendorReviewModel.Title))
          {
          Title = T("Nop.Plugin.NopWarehouse.VendorReview.Admin.VendorReviews.Fields.Title").Text,
          Width = "200",
          ClassName =  NopColumnClassDefaults.CenterAll
          },
           new ColumnProperty(nameof(AdminVendorReviewModel.ReviewText))
          {
          Title = T("Nop.Plugin.NopWarehouse.VendorReview.Admin.VendorReviews.Fields.ReviewText").Text,
          ClassName =  NopColumnClassDefaults.CenterAll
          },
             new ColumnProperty(nameof(AdminVendorReviewModel.Rating))
          {
          Title = T("Admin.Catalog.ProductReviews.Fields.Rating").Text,
          ClassName =  NopColumnClassDefaults.CenterAll
          },
          new ColumnProperty(nameof(AdminVendorReviewModel.IsApproved))
          {
          Title = T("Nop.Plugin.NopWarehouse.VendorReview.Admin.VendorReviews.Fields.IsApproved").Text,
          ClassName =  NopColumnClassDefaults.CenterAll
          },
           new ColumnProperty(nameof(AdminVendorReviewModel.CreatedOn))
          {
          Title = T("Nop.Plugin.NopWarehouse.VendorReview.Admin.VendorReviews.Fields.CreatedOn").Text,
          ClassName =  NopColumnClassDefaults.CenterAll
          },
          new ColumnProperty(nameof(VendorFollowerModel.Id))
          {
          Title = T("Admin.Common.Edit").Text,
          Width = "100",
          ClassName =  NopColumnClassDefaults.Button,
          Render = new RenderButtonEdit(new DataUrl("Edit"))
          }
          }
          })
        </div>
    </div>
</div>




