@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?p7jw9w');
    src: url('../fonts/icomoon.eot?p7jw9w#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?p7jw9w') format('truetype'), url('../fonts/icomoon.woff?p7jw9w') format('woff'), url('../fonts/icomoon.svg?p7jw9w#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-customer:before {
    content: "\e900";
}

.icon-divider:before {
    content: "\e901";
}

.icon-facebook:before {
    content: "\e902";
}

.icon-favourite:before {
    content: "\e903";
}

.icon-instagram:before {
    content: "\e904";
}

.icon-left-Arrow:before {
    content: "\e905";
}

/*.icon-menu:before {
    content: "\e906";
}
*/
.icon-merchant:before {
    content: "\e907";
}

.icon-newsletter:before {
    content: "\e908";
}

.icon-pinterest:before {
    content: "\e909";
}

.icon-product-arrow-l .path1:before {
    content: "\e90a";
    color: rgb(42, 77, 183);
}

.icon-product-arrow-l .path2:before {
    content: "\e90b";
    margin-left: -1em;
    color: rgb(128, 128, 128);
}

.icon-product-arrow-R .path1:before {
    content: "\e90c";
    color: rgb(42, 77, 183);
}

.icon-product-arrow-R .path2:before {
    content: "\e90d";
    margin-left: -1em;
    color: rgb(128, 128, 128);
}

.icon-Right-Arrow:before {
    content: "\e90e";
}

.icon-search:before {
    content: "\e90f";
}

.icon-settings:before {
    content: "\e910";
}

.icon-shoppinbg-bag:before {
    content: "\e911";
}

.icon-twitter:before {
    content: "\e912";
}

.icon-user:before {
    content: "\e913";
}

.icon-youtube:before {
    content: "\e914";
}
